@font-face {
  font-family: 'DyslexicFont';
  src: url('./assets/fonts/Space Rice.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'DyslexicFont', sans-serif;
  background-color: #7E60BF;
}

code {
  font-family: 'DyslexicFont', sans-serif;
}